node_modules
dist

.env.local
**/.env
**/.env.*
!**/.env.*.example

**/.idea/codeStyles
**/.idea/runConfigurations

**/*.sqlite
**/*.sqlite3
**/*.db
**/*.db3
**/*.s3db
**/*.sl3

**/.data
**/appdata/
**/mnt/
**/mount/
**/volumes/
**/docker/mnt/
**/docker/mount/
**/docker/volumes/
**/docker/storage/
**/docker/appdata/

## Special icludes/excludes for Docker environment
.git
**/Dockerfile.*
docker-compose*.yml
docker-compose*.yaml
kubectl.yaml
!.env
